.text{
    background: linear-gradient(to top right,#FF47E7 0%,#33BACF 100%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  filter: brightness(1.3);
}