.text{
    background: linear-gradient(to top right,#FF47E7 0%,#33BACF 100%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  filter: brightness(1.3);
}
.right img{
    flex:1;
    width: 100%;
}
@media screen and (max-width:470px) {
    .pTag{
        width: 100%;
        
        
    }
    .leftHead{
        margin: 0.5rem;
    }
    .h1Tag{
        font-size: 3rem;
    }
}
@media screen and (max-width:344px) {
   .pTag{
        width: 90%;
        
        
    }
}


/* b0:a2:e7:96:df:dc */