/* 






background: linear-gradient(to top right,#FF47E7 0%,#33BACF 100%);
  background-clip: border-box; */

  .burger{
    display: none;
}
.expanded{
    display: none;
}
.logo{
    height: 2.5rem;
}
@media screen and (max-width:1100px) {
    .right {
display: none;
}
.burger{
    display: block;
    cursor: pointer;
}
}